@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --bg-color: #1E1826;
    --primary: #fff;
}

body {
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
    transition: background 1s ease-in-out;
}

#cabecalho {
    margin-bottom: 200px;
}

#mudar-tema {
    position: absolute;
    top: 4%;
    left: 2%;
    background-image: var(--img); 
    background-repeat: no-repeat;
    padding: 67px;
    cursor: pointer; 
    background: transparent;
    border: none;
  }
  
  #btnn {
    display: none;
  }

img {
    width: 50px;
    border-radius: 50%;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
    margin: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin: 20px;
}

.box {
    border: 2px solid var(--primary);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background: var(--primary);
    border-radius: 5px;
    margin-top: 15px;
}